<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<textarea name="content" id="diaryContent" cols="30" rows="10"></textarea>
<button id="publish">发布</button>

<script type="text/javascript" src="javascripts/jquery-3.1.1.min.js"></script>
<script>
    $('#publish').click(function () {
        var content = $('#diaryContent').val().trim().replace(/\n/g, '<br/>');

        var data = {
            content: content,
            date: '2016-12-14'
        };

        $.ajax({
            url: '/',
            type: 'POST',
            data: data,
            success: function (ret) {
                alert('发布成功');
                location.href = '/';
            },
            error: function (ret) {
                alert('发布失败');
                location.href = 'error';
            }
        });
    });
</script>
</body>
</html>